<div class="container">
    <ng-container *ngIf="products$ |async as products" [ngSwitch]="products.dataState">
       <ng-container *ngSwitchCase="DataStateEnum.LOADING">Loading....</ng-container>
       <ng-container *ngSwitchCase="DataStateEnum.ERROR">
           <div class="col-12 text-center">
               <div class="alert-danger">{{products.errorMessage}}</div>
           </div>
       </ng-container>
       
       <ng-container>
   <div class="container" *ngIf="products.data">
       <table class="table">
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Selected</th>
               <th>Available</th>
           </tr>
           <app-product-item [product]="p" *ngFor="let p of products.data" style="display: contents;"></app-product-item>
       </table>
       </div>
   </ng-container>
   </ng-container>
   </div>
   
   